<div class="container">

    <div class="row">

        <div class="col-lg-3">
            <div id="d1"> this is d1</div>
        </div>
        <div class="col-lg-3">
            <div id="d2"> this is d2</div>
        </div>
        <div class=" col-lg-3">
            <div id="d3"> this is d3</div>
        </div>
        <div class=" col-lg-3">
            <div id="d4"> this is d4</div>
        </div>
        <div class="col-lg-3">
            <div id="d1"> this is d5</div>
        </div>
        <div class=" col-lg-3">
            <div id="d2"> this is d6</div>
        </div>
        <div class="col-lg-3">
            <div id="d3"> this is d7</div>
        </div>
        <div class="col-lg-3">
            <div id="d4"> this is d8</div>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color:salmon;">

    <div class="row">

        <div class="col-md-4">
            <div id="d1"> this is d1</div>
        </div>
        <div class="col-md-4">
            <div id="d2"> this is d2</div>
        </div>
        <div class=" col-md-4">
            <div id="d3"> this is d3</div>
        </div>
        <div class=" col-md-4">
            <div id="d4"> this is d4</div>
        </div>
        <div class="col-md-4">
            <div id="d1"> this is d5</div>
        </div>
        <div class=" col-md-4">
            <div id="d2"> this is d6</div>
        </div>
        <div class="col-md-4">
            <div id="d3"> this is d7</div>
        </div>
        <div class="col-md-4">
            <div id="d4"> this is d8</div>
        </div>
    </div>
</div>

<div class="container" style="padding-top: 30px;">

    <div class="row">

        <div class="col-sm-6">
            <div id="d1"> this is d1</div>
        </div>
        <div class="col-sm-6">
            <div id="d2"> this is d2</div>
        </div>
        <div class=" col-sm-6">
            <div id="d3"> this is d3</div>
        </div>
        <div class="col-sm-6">
            <div id="d4"> this is d4</div>
        </div>
        <div class="col-sm-6">
            <div id="d1"> this is d5</div>
        </div>
        <div class=" col-sm-6">
            <div id="d2"> this is d6</div>
        </div>
        <div class="col-sm-6">
            <div id="d3"> this is d7</div>
        </div>
        <div class="col-sm-6">
            <div id="d4"> this is d8</div>
        </div>
    </div>
</div>


<div class="container-fluid" style="background-color:salmon;">

    <div class="row">

        <div class="col-xs-12" style="background-color: black;height: 200px;width: 80%;margin:20px;text-align:center;color:blanchedalmond">
            <div> this is d1</div>
        </div>
        <div class="col-xs-12" style="background-color: black;height:200px;width: 80%;margin:20px ;">
            <div> this is d2</div>
        </div>
        <div class="col-xs-12" style="background-color: black;height: 200px;width: 80%;margin:20px ;">
            <div> this is d3</div>
        </div>
        <div class="col-xs-12" style="background-color: black;height: 200px;width: 80%;margin:20px ;">
            <div> this is d4</div>
        </div>
        <div class="col-xs-12" style="background-color: black;height: 200px;width: 80%;margin:20px ;">
            <div> this is d5</div>
        </div>
        <div class="col-xs-12" style="background-color: black;height: 200px;width: 80%;margin:20px ;">
            <div> this is d6</div>
        </div>
        <div class="col-xs-12" style="background-color: black;height: 200px;width: 80%;margin:10px ;">
            <div> this is d7</div>
        </div>
        <div class="col-xs-12" style="background-color: black;height: 200px;width: 80%;margin:20px ;">
            <div> this is d8</div>
        </div>

    </div>
    <router-outlet></router-outlet>